# Dependencies
node_modules/

# Production build
dist/
dist-electron/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
eslint-saved-state

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# Databases (if any created in root)
*.db
*.sqlite

# Vite local cache
.vite/
